/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================================================================== */
/* =============== MTM6201 "Accessible Me" Assignment by Mark Daniels =============== */
/* ================================================================================== */

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: grey;
}

img {
  width: 100%;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: silver;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  font-size: 1.25rem;
  border: 3px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

form input,
form textarea {
  display: block;
  width: 90%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  resize: none;
}

form button {
  background: none;
  background-color: gray;
  border: 3px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

form {
	border-style: solid;
  border-width: 1px;
  border-color: black;
	margin: 5px;
	padding: 10px;
	padding-top: 15px;
 }

.site-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
}

.site-header {
  text-align: center;
}

a:focus{
  outline: 4px solid black;
}

.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a{
  position: absolute;
  top: -3em;
  background-color: black;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}

.skip-links a:focus{
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer a {
  display: inline;
  color: inherit;
  font-size: 1.25rem;
  border: 3px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: silver;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-content h2, p {
  padding: 5px;
  align-self: center;
  justify-self: center;
}

header, footer {
  background-color: grey;
}

@media screen and (min-width: 760px) {
  .grid-container {
    display: grid;
    width: 95%;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }
}

a:hover, button:hover {
  background-color: darkgoldenrod;
  border: 3px solid silver;
}

/* selected link */
a:active, button:active {
  color:  white;
  background-color: black;
}

/* selected link */
.main-nav li:active {
  color:  white;
  background-color: black;
}

.form-flexbox{
  display: flex;
  justify-content: space-evenly;
}

.owner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.owner h2 {
  align-self: flex-start;
}

.owner-contact-items li {
  padding-left: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.owner-address-items li {
  padding-left: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.google-maps-element {
  padding-left: 5%;
}

/* Comments... I love comments!  }:-) */