

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: grey;
}

img {
  width: 100%;
}

h1 {
  padding-top: 20px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: silver;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  font-size: 1.25rem;
  border: 3px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

form input,
form textarea {
  display: block;
  width: 90%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  resize: none;
}

form button {
  background: none;
  background-color: gray;
  border: 3px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

form {
	border-style: solid;
  border-width: 1px;
  border-color: black;
	margin: 5px;
	padding: 10px;
	padding-top: 15px;
 }

.site-footer {
  text-align: center;
  padding: 1rem 0;
}

.site-header {
  text-align: center;
}

a:focus{
  outline: 4px solid black;
}

.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a{
  position: absolute;
  top: -3em;
  background-color: black;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}

.skip-links a:focus{
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer a {
  display: inline;
  color: inherit;
  font-size: 1.25rem;
  border: 3px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: silver;
}

header, footer {
  background-color: grey;
}

@media screen and (min-width: 760px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }
}

a:hover, button:hover {
  background-color: darkgoldenrod;
  border: 3px solid silver;
}

/* selected link */
a:active, button:active, li:active {
  color:  white;
  background-color: black;
}

.form-flexbox{
  display: flex;
  justify-content: space-evenly;
}

/* Comments.... */